# Site Info
title:              "Chen's Blog"
description:        "Chen's Blog，分享安全领域的所思、所想、所学。"
keywords:           "网络安全,数据安全,代码审计,Web安全,二进制安全"
author_name:        "EvilChen"
logo_url:           /assets/avatar.jpg

# Site Settings
url:                https://gh0st.cn # main url
baseurl:            
#permalink:          /:title
timezone:           Asia/Shanghai # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
mathjax:            true # enables support for mathjax - set to 'false' to disable
future:             true

# Site Build
highlighter:        none
markdown:           kramdown
kramdown:
    input:          GFM
    syntax_highlighter_opts:
      disable:      true
sass:
    style:          :compressed

paginate: 10
paginate_path: "index/:num"

# Other Params
include:            [ "robots.txt" ]
exclude:            [ "LICENSE", "README.md", "CNAME", "vendor", "Gemfile", "script" ]
plugins:
  - jekyll-sitemap
  - jekyll-paginate

# Giscus Comments
giscus:
  repo:             "gh0stkey/gh0stkey.github.io" # 格式: username/repo
  repo_id:          "MDEwOlJlcG9zaXRvcnkzODc5NzEyMzU=" # 需要在 giscus.app 获取
  category:         "Announcements" # 需要在 giscus.app 获取
  category_id:      "DIC_kwDOFx_4o84CyCUA" # 需要在 giscus.app 获取
  mapping:          "title"
  strict:           "0"
  reactions_enabled: "0"
  emit_metadata:    "0"
  input_position:   "top"
  light_theme:      "light_protanopia"
  dark_theme:       "dark_tritanopia"
  lang:             "zh-CN"

defaults:
  -
    scope:
      path:         ""
    values:
      layout:       "null"
  -
    scope:
      type:         "pages"
    values:
      layout:       "page"
  -
    scope:
      type:         "posts"
    values:
      layout:       "post"
