---
layout: default
---

<section>
	{% for post in paginator.posts %}
		{% unless post.next %}
			<h3 class="code">{{ post.date | date: '%Y' }}</h3>
		{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			{% if year != nyear %}
				<h3 class="code">{{ post.date | date: '%Y' }}</h3>
			{% endif %}
		{% endunless %}
		<ul>
			<li>
				<div class="post-date code">
					<span>{{ post.date | date: "%b %d" }}</span>
				</div>
				<div class="title">
					<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
				</div>
			</li>
		</ul>
	{% endfor %}

	{% if paginator.total_pages > 1 %}
			<div class="page-navigation code">
			{% if paginator.previous_page %}
	    		<a class="next" href="{{ paginator.previous_page_path }}">&lt;&lt;</a>
				<span> &middot; </span>
	  		{% endif %}
				<a class="home" href="{{ "/" | prepend: site.baseurl | prepend: site.url }}" title="Back to Index">INDEX</a>
	  		{% if paginator.next_page %}
				<span> &middot; </span>
	    		<a class="prev" href="{{ paginator.next_page_path }}">&gt;&gt;</a>
  			{% endif %}
  			</div>
  	{% endif %}
</section>
