<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
	{% assign link = '/about' %}
	{% assign prompt = 'About the Author' %}
	{% else %}
	{% assign link = '/' %}
	{% assign prompt = 'Back to Index' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
		<img src="{{ site.logo_url }}" class="logo-avatar">
	</a>
	<span class="logo-prompt code">{{ prompt }}</span>
</aside>
<article>
	<h1 class="title">EvilChen</h1>
	<div class="divider"></div>
	<center>
		<a href="https://github.com/gh0stkey" target="_blank">Github</a> | <a href="https://twitter.com/VulkeyChen" target="_blank">X (Twitter)</a> | <a href="/about" target="_blank">About</a> | <a href="/links" target="_blank">Links</a>
	</center>
	<div class="divider"></div>
</article>