/* JetBrains Maple Mono Regular */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/JetBrainsMapleMono-Regular.ttf') format('truetype');
}

/* JetBrains Maple Mono Italic */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/JetBrainsMapleMono-Italic.ttf') format('truetype');
}

/* JetBrains Maple Mono Medium */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/JetBrainsMapleMono-Medium.ttf') format('truetype');
}

/* JetBrains Maple Mono SemiBold */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/JetBrainsMapleMono-SemiBold.ttf') format('truetype');
}

/* JetBrains Maple Mono Bold */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/JetBrainsMapleMono-Bold.ttf') format('truetype');
}

/* JetBrains Maple Mono Bold Italic */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/JetBrainsMapleMono-BoldItalic.ttf') format('truetype');
}
